
.intro-container {
    display: flex;
    flex-flow: row wrap-reverse;
    width: 90%;
    max-width: 1280px;
    margin-left: auto;
    margin-right: auto;
}

.intro-text {
    width: 45%;
    min-width: 375px;
    margin-right: 5%;
}
.intro-text h1 {
    width: 100%;
    margin-right: auto;
    font-size: 60px;
    line-height: 70px;
}
.intro-text p {
    width: 100%;
    margin-right: auto;
}
.intro-text button {
    width: 10em;
}



.intro-img {
    width: 50%;
    min-width: 375px;

}
.intro-img img {
    max-height: 100%;
}