
.intro-container {
    display: flex;
    flex-flow: row wrap-reverse;
    width: 80%;
    max-width: 1281px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5%;
}

.intro-text {
    width: 45%;
    min-width: 345px;
    margin-right: 10%;
    cursor: default;
}
.intro-text h1 {
    width: 100%;
    margin-top: 10%;
    margin-right: auto;
    margin-bottom: 0;
    font-size: 60px;
    line-height: 70px;
}
.intro-text p {
    width: 100%;
    margin-top: 5px;
    margin-right: auto;
    margin-bottom: 40px;
    color: hsl(257, 7%, 63%);
    font-size: 20px;
}
.intro-text button {
    width: 10em;
}



.intro-img {
    width: 45%;
}
.intro-img img {
    max-height: 100%;
}


@media(max-width: 961px) {
    .intro-text {
        width: 100%;
        min-width: 0;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 5%;
        text-align: center;
    }
}

@media(max-width: 641px) {
    .intro-text {
        margin-bottom: 10%;
    }
    .intro-img img {
        width: 600px;
        margin-left: -25px;
    }
}