
.intro-container {
    display: flex;
    flex-flow: row wrap-reverse;
    width: 80%;
    max-width: 1281px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5%;
}

.intro-text {
    width: 50%;
    min-width: 345px;
    margin-right: 5%;
    cursor: default;
}
.intro-text h1 {
    width: 100%;
    margin-right: auto;
    margin-bottom: 0;
    font-size: 60px;
    line-height: 70px;
}
.intro-text p {
    width: 100%;
    margin-right: auto;
    margin-bottom: 40px;
    color: hsl(257, 7%, 63%);
}
.intro-text button {
    width: 10em;
}



.intro-img {
    width: 45%;
}
.intro-img img {
    max-height: 100%;
}