


.advanced-container {
    width: 100%;
    background-color: hsl(0, 0%, 95%);
    padding-top: 500px;
    padding-bottom: 100px;
}

.advanced-sub {
    position: relative;
    width: 80%;
    max-width: 1281px;
    margin-left: auto;
    margin-right: auto;
}
.advanced-sub hr {
    position: absolute;
    height: 10px;
    width: 90%;
    top: 65%;
    left: 5%;
    right: 5%;
    background-color: hsl(180, 66%, 49%);
    border: none;
    z-index: 10;
}


.advanced-text {
    height: 250px;
    padding: 0 30%;
    text-align: center;
}
.advanced-text-head {
    font-size: 30px;
    font-weight: 700;
}
.advanced-text-subhead {
    color: hsl(257, 7%, 63%);
}

.advanced-selling {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    z-index: 11;
}

.advanced-selling-1 {
    margin-top: 0;
    z-index: 11;
}
.advanced-selling-2 {
    margin-top: 35px;
    z-index: 11;
}
.advanced-selling-3 {
    margin-top: 70px;
    z-index: 11;
}


@media (max-width: 1281px) {
    .advanced-selling {

    }
    .advanced-selling-1 {
        margin-top: 75px;
        margin-left: auto;
        margin-right: auto;
    }
    .advanced-selling-2 {
        margin-top: 75px;
        margin-left: auto;
        margin-right: auto;
    }
    .advanced-selling-3 {
        margin-top: 75px;
        margin-left: auto;
        margin-right: auto;
    }
}