


.advanced-container {
    width: 100%;
    background-color: hsl(0, 0%, 95%);
    padding-top: 500px;
    padding-bottom: 100px;
}

.advanced-sub {
    width: 80%;
    max-width: 1281px;
    margin-left: auto;
    margin-right: auto;
}


.advanced-text {
    height: 250px;
    padding: 0 30%;
    text-align: center;
}
.advanced-text-head {
    font-size: 30px;
    font-weight: 700;
}
.advanced-text-subhead {
    color: hsl(257, 7%, 63%);
}

.advanced-benefits {
    display: flex;
    flex-flow: row wrap;
}