


.advanced-container {
    width: 100%;
    background-color: hsl(0, 0%, 95%);
    padding-top: 500px;
    padding-bottom: 100px;
}

.advanced-sub {
    width: 80%;
    max-width: 1281px;
    margin-left: auto;
    margin-right: auto;
}


.advanced-text {
    height: 250px;
    padding: 0 30%;
    text-align: center;
}
.advanced-text-head {
    font-size: 30px;
    font-weight: 700;
}
.advanced-text-subhead {
    color: hsl(257, 7%, 63%);
}

.advanced-selling {
    display: flex;
    flex-flow: row wrap;
}

.advanced-selling-1 {
    margin-top: 0;
}
.advanced-selling-2 {
    margin-top: 50px;
}
.advanced-selling-3 {
    margin-top: 100px;
}


@media (max-width: 1281px) {
    .advanced-selling {

    }
    .advanced-selling-1 {
        margin-top: 75px;
        margin-left: auto;
        margin-right: auto;
    }
    .advanced-selling-2 {
        margin-top: 75px;
        margin-left: auto;
        margin-right: auto;
    }
    .advanced-selling-3 {
        margin-top: 75px;
        margin-left: auto;
        margin-right: auto;
    }
}