

.get-started-container button {
    color: white;
    height: 3.25em;
    width: 12em;
    background-color: hsl(180, 66%, 49%);
    border: none;
    border-radius: 50px;
    margin-bottom: 0.75em;
    transition: all ease-in-out 0.2s;
}

.get-started-container button:hover {
    cursor: pointer;
    background-color: hsl(180, 70%, 60%);
}