

.navbar-container {
    height: 6em;
    width: 80%;
    max-width: 1281px;
    margin-left: auto;
    margin-right: auto;
    background-color: transparent;
}


.navbar-sub {
    display: flex;
    flex-flow: row wrap;
    height: 100%;
    width: 100%;
    color: hsl(257, 7%, 63%);;
}

/* nav dropdown button */
.toggle-button {
    display: none;
}
.nav-menu-coll {
    display: none;
}

.navbar-brand {
    display: flex;
    height: 100%;
    width: 10%;
    max-width: 200px;
    align-items: center;
    cursor: pointer;
    font-size: 2em;
}
.nav-menu {
    display: flex;
    align-items: center;
    width: 90%;
    margin-left: auto;
    font-size: 0.85em;
    font-weight: 600;
}
.nav-menu-items {
    display: flex;
    width: 100%;
}
.nav-menu-items a {
    margin-top: auto;
    margin-left: 2.5%;
    margin-right: 2.5%;
    margin-bottom: auto;
    transition: all ease-in-out 0.2s;
    cursor: pointer;
}
.nav-menu-items a:hover {
    color: hsl(260, 8%, 14%);
}
#resources-left {
    margin-right: auto;
}
#login-right {
    margin-left: auto;
}
.sign-up-btn {
    color: white;
    font-weight: bolder;
    height: 40px;
    width: 100px;
    background-color: hsl(180, 66%, 49%);
    border: none;
    border-radius: 50px;
    transition: all ease-in-out 0.2s;
}
.sign-up-btn:hover {
    cursor: pointer;
    background-color: hsl(180, 70%, 60%);
}
.sign-up-btn a:hover {
    color: white;
}

@media (max-width: 1281px) {
    .nav-menu {
        width: 85%;
    }
}

@media (max-width: 961px) {
    .navbar-container {
        position: relative;
    }
    .nav-menu {
        display: none;
    }
    .toggle-button {
        display: flex;
    }
    .nav-menu-coll {
        display: flex;
        height: 6em;
        width: 100vw;
        z-index: 9;
        transform: translate3d(0, -105vh, 0);
        transition: all 0.2s cubic-bezier(0, .52, 0, 1);
    }
    .nav-menu-coll.expanded {
        transform: translate3d(0, 0, 0);
        transition: all 0.2s cubic-bezier(0, .52, 0, 1);
    }
    .nav-menu-items-coll {
        display: flex;
        flex-flow: column;
        align-items: center;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
        height: 45vh;
        width: 80vw;
        color: white;
        background-color: hsl(257, 27%, 26%);
        border-radius: 20px;
    }
    .nav-menu-items-coll a {
        font-size: 18px;
        font-weight: 700;
    }
    .nvic {
        display: flex;
        height: 75px;
        font-weight: 500;
        justify-content: center;
        align-items: center;
        border-bottom: 1px solid transparent;
        transition: all ease-in-out 0.2s;
        cursor: pointer;
    }
    .sign-up-btn {
        width: 80%;
        height: 50px;
    }


    .nav-menu-items-coll hr {
        width: 80%;
        height: 1px;
        background-color: hsl(257, 7%, 63%);
        border: none;
    }

    .sign-up-btn:hover {
        cursor: pointer;
        background-color: hsl(180, 70%, 60%);
    }

    
    .toggle-button {
        display: flex;
        position: absolute;
        align-items: center;
        justify-content: center;
        height: 100%; 
        width: 75px;
        right: 0;
        z-index: 10;
    }
    .toggle-button button {
        border: none;
        height: 40px;
        width: 40px;
        background-color: transparent;
        cursor: pointer;
        font-weight: bold;
        font-size: 15px;
        color: gray;
    }
    .toggle-button button:hover {
        transition: border 0.2s ease-in-out;
    }
    .toggle-button-btn.expanded {
        color: hsl(0, 0%, 63%);
    }

    .overlay {
        position: fixed;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(0,0,0,0.5);
        z-index: 8;
    }
    .no-overlay {
        display: none;
    }

}